/******************** 设置通用样式 ***************************/
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
}

/* 按钮样式 */
/* bootstrap自动生成按钮样式地址：http://blog.koalite.com/bbg/ */
.btn-register { 
    color: #fff; 
    background-color: #0AB4F7; 
    border-color: #FFFFFF; 
  } 
   
  .btn-register:hover, 
  .btn-register:focus, 
  .btn-register:active, 
  .btn-register.active, 
  .open .dropdown-toggle.btn-register { 
    color: #fff; 
    background-color: #086DF2; 
    border-color: #FFFFFF; 
  } 
   
  .btn-register:active, 
  .btn-register.active, 
  .open .dropdown-toggle.btn-register { 
    background-image: none; 
  } 
   
  .btn-register.disabled, 
  .btn-register[disabled], 
  fieldset[disabled] .btn-register, 
  .btn-register.disabled:hover, 
  .btn-register[disabled]:hover, 
  fieldset[disabled] .btn-register:hover, 
  .btn-register.disabled:focus, 
  .btn-register[disabled]:focus, 
  fieldset[disabled] .btn-register:focus, 
  .btn-register.disabled:active, 
  .btn-register[disabled]:active, 
  fieldset[disabled] .btn-register:active, 
  .btn-register.disabled.active, 
  .btn-register[disabled].active, 
  fieldset[disabled] .btn-register.active { 
    background-color: #0AB4F7; 
    border-color: #FFFFFF; 
  } 
   
  .btn-register .badge { 
    color: #0AB4F7; 
    background-color: #fff; 
  }
  /* /按钮样式 */

  /* 字体图片  icomoon https://icomoon.io/*/
  /* 引入字体样式 */
  @font-face{
      font-family: lk;
      src:url("../fonts/lk.eot") format("embedded-opentype");
      src:url('../fonts/lk.svg') format('svg');
      src: url('../fonts/lk.ttf') format('truetype');
      src: url('../fonts/lk.woff') format('woff');
  }
  /* 为前缀为icon的田间字体图片 */
  [class^='icon-'],
  [class*=' icon-']{
      font-family: lk;
      font-style: normal;
  }
  /* /字体图片 */

/* 热门课程和关于我们部分的样式 */
#lk_about,lk_hot{
    padding:20px 0;
}
#lk_about .title,
#lk_hot .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

/******************** 设置通用样式 ***************************/

/********************* 头部的样式 *****************************/
#lk_header .top-bar{
    height: 40px;
    line-height: 39px;
    border-bottom:1px solid #e0e0e0;
}
#lk_header .top-bar .container .row>div+div{
    border-left: 1px solid #e0e0e0;
}
#lk_header .top-bar .container .row .top-bar-1 a{
    position: relative;
}
#lk_header .top-bar .container .row .top-bar-1 a img{
    display:none;
    width: 120px;
    position: absolute;
    left:50%; 
    margin-left: -60px;
    margin-top:-10px;
    z-index: 9999;
}
#lk_header .top-bar .container .row .top-bar-1 a:hover img{
    display:block;
}
#lk_header .top-bar .container .row .top-bar-4 a:nth-child(2){
    margin-left: 10px;
}

#lk_header .icon-phone::before{
    content:'\e958';
    font-size: 13px;
}
#lk_header .icon-tel::before{
    content:'\e942';
    font-size: 13px;
}
/* 头部种的navbar */
#lk_header .navbar-lk{
    background-color: #fff;
    margin-bottom: 0;
}
#lk_header .navbar-lk .navbar-brand{
    height: 70px;
    padding:10px 15px;
}
#lk_header .navbar-lk .navbar-nav a{
    height: 70px;
    line-height: 40px;
}
#lk_header .navbar-lk .navbar-nav li.active a,
#lk_header .navbar-lk .navbar-nav li a:hover{
    background-color:transparent;
    border-bottom: 2px solid #0AB4F7;
}
#lk_header .navbar-lk .navbar-toggle{
    margin-top: 18px;
}
/********************* /头部的样式 ****************************/

/********************* 轮播图的样式 ****************************/
#lk_carousel{

}
#lk_carousel .item{
    background:no-repeat center center;
    background-size: cover;
}

@media screen and (min-width:800px){
    #lk_carousel .item{
        height: 410px;
    }
}

/********************* /轮播图的样式 ****************************/

/********************* 关于我们的样式 ****************************/
#lk_about .row p{
    line-height: 1.7;
    font-size: 15px;
}
/********************* 关于我们的样式 ****************************/

/********************* 产品特色的样式 ****************************/
#lk_product{
    background-color: #f0f0f0;
    padding: 30px 0;
}
#lk_product .nav{
    font-size: 18px;
}
#lk_product .nav a{
    color: #999;
}
#lk_product .nav li.active a{
    border:none;
    border-bottom: 2px solid #0AB4F7;
    background-color:transparent;
}
#lk_product #product_one_1 {
    margin:15px 0;
}
#lk_product #product_one_1 img{
    width:140px;
}
#lk_product #product_one_1 .media-body{
    padding-top: 100px;
}
#lk_product #product_one_2{
    background-color: transparent;
}
#lk_product #product_one_4{
    margin: 15px 0;
}
#lk_product #product_one_4 div{
    margin-right: 5px; 
}
#lk_product .tab-content .pd-top{
    padding:40px 0;
}
#lk_product .tab-content .img-top{
    padding:20px 0;
}
#lk_product #pd_two_1{
    padding:100px 0;
}
#lk_product #pd_two_1 h1{
    padding:15px 0;
}
#lk_product #pd_third_1 h3,
#lk_product #pd_third_1 h4{
    margin: 20px 0;
}
#lk_product #pd_third_1 .badge{
    padding:15px 10px;
    cursor: pointer;
}
/********************* /产品特色的样式 ****************************/


